body {
    background: #e3cdc0;
    color: white;
    margin: 0px;
}

img {
    height: 240px;
    /*margin-right: 10px;
    /*margin-bottom: 10px; */
    transition: 0.6s;
}

img:hover {
    transform: scale(1.2);
    z-index: 1;
    position: relative;
    transition: 1s;
}
