h1 {
    color: #940081;
    text-align: center;
    font-family: arial;
    font-size: 50px;
}

body {
    background: #e3cdc0;
    margin: 0;
    /*background-image: url(naslovna.jpg);*/
    background-image: url(naslovna2.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*visina*/ /*contain širina*/
    background-position-x: center;
    min-height: 100vh; /*viewport height*/

    
}

nav a {
    background: #940081;
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
    /*font-weight: bold;*/
    font-family: cursive;
}
nav {
    opacity: 0.7;
}
.wrapper {
    padding-left: 9.76%;
    padding-right: 4%;
}

a.ex1:hover, a.ex1:active {color: red;}

@media (min-width: 800px) {
    

    nav {
        background: #000;
        display: flex;
    }
    nav a {
        border-bottom: 0;
        width: 25%;
    }
    .flex-between {
        display: flex;
        justify-content: space-between;
    }
    .half-width {
        width: 48%;
    }
    
}
