h1 {
    color: #ed553b;
    text-align: center;
    font-family: 'Charmonman', cursive;
    font-size: 60px;
    text-shadow: 2px 2px 1px #000;
}

body {
    background: #e3cdc0;
    margin: 0;
    background-image: url(naslovna.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*visina*/ /*contain širina*/
    background-position-x: center;
    min-height: 100vh; /*viewport height*/ 
}

nav {
    opacity: 0.7;
}

nav a {
    background: #4fb99f;
    color: #000;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

nav > a {
    border-bottom: 1px solid #fff;
}

.trajkovic-logo {
    height: 250px;
    width: 250px;
    margin-left: 40%;
}

div .logotip {
    margin: left;
}

/* DESKTOP RACUNARI */

@media (min-width: 800px) {
    
    nav {
        background-color: #000;
        display: flex;
    }

    nav > a {
        width: 25%;
        border-bottom: none;
    }

    a.ex1:hover {
        background-color: #068587;
        color: #fff;
    }

    

    .dropdown {
        position: relative;
        display: inline-block;
        width: 25%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    a.droplink {
    border: none;
    }

}
